<?xml version="1.0" encoding="utf-8"?>


<hibernate-configuration>

    <session-factory>
        <property name="current_session_context_class">thread</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/carapp</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">55555</property>


       </session-factory>
</hibernate-configuration>