<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    <bean id="robot" class="ru.vrnsky.robots.Robot">
        <property name="body">
            <bean id="body" class="ru.vrnsky.sony.ToshibaBody"/>
        </property>
    </bean>
</beans>