<?xml version="1.0" encoding="utf-8"?>


<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="hibernate.connection.url">jdbc:hsqldb:mem:todoapp</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.hbm2ddl.auto">create</property>

        <!-- List of XML mapping files -->
        <mapping resource="model/Item.hbm.xml"/>

    </session-factory>
</hibernate-configuration>